@import url("https://fonts.googleapis.com/css2?family=Cambo&family=IBM+Plex+Sans+Condensed&family=Ubuntu+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: "Ubuntu Mono", Helvetica, sans-serif;
}

h1 {
  font-family: "IBM Plex Sans Condensed", Arial, sans-serif;
}

h2 {
  margin: 2em 1em;
  text-align: center;
}

#plot-container {
  margin: 0 auto;
}

#selection-container {
  margin: 0 auto;
}
